name: Run tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Mambaforge
        uses: conda-incubator/setup-miniconda@v3
        with:
          use-mamba: true
          miniforge-variant: Miniforge3
          miniforge-version: latest
          activate-environment: anaconda-client-env

      - name: Install conda packages
        shell: bash -l {0}
        run: |
          git clone https://github.com/EdelweissFE/EdelweissFE.git
          mamba install --file EdelweissFE/requirements.txt

      - name: Install Eigen
        shell: bash -l {0}
        run: |
          git clone --branch 3.4.0 https://gitlab.com/libeigen/eigen.git
          cd eigen
          mkdir build
          cd build
          cmake -DBUILD_TESTING=OFF -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX -DINCLUDE_INSTALL_DIR=$CONDA_PREFIX/include ..
          make install
          cd ../..

      - name: Install Autodiff
        shell: bash -l {0}
        run: |
          git clone --branch v1.1.0 https://github.com/autodiff/autodiff.git
          cd autodiff
          mkdir build
          cd build
          cmake -DAUTODIFF_BUILD_TESTS=OFF -DAUTODIFF_BUILD_PYTHON=OFF -DAUTODIFF_BUILD_EXAMPLES=OFF -DAUTODIFF_BUILD_DOCS=OFF ..
          make install
          cd ../..

      - name: Install Fastor
        shell: bash -l {0}
        run: |
          git clone https://github.com/romeric/Fastor.git
          cd Fastor
          cmake -DBUILD_TESTING=OFF -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX .
          make install
          cd ..

      - name: Install Marmot
        shell: bash -l {0}
        run: |
          git clone "https://github.com/MAteRialMOdelingToolbox/Marmot.git"
          git clone "https://github.com/BOKU-CMP-MEC-MAT/MarmotMeshfreeCore.git" ./Marmot/modules/core/MarmotMeshfreeCore
          mkdir ./Marmot/build
          cd ./Marmot/build
          cmake -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX  ..
          make install
          cd ../..

      - name: Install EdelweissFE
        shell: bash -l {0}
        run: |
          cd EdelweissFE
          pip install .
          cd ..

      - name: Build EdelweissMPM
        shell: bash -l {0}
        run: |
          pip install .

      - name: Run tests
        shell: bash -l {0}
        run: |
          pytest .

